<? version="1.0" encoding="UTF-8"?>
<XML>
	<SERVER>
		<IP>127.0.0.1</IP>
		<PORT>6000</PORT>
	</SERVER>
	<SKIN>Default</SKIN>
	<VIDEO>
		<WIDTH>1920</WIDTH>
		<HEIGHT>1080</HEIGHT>
		<COLORBITS>32</COLORBITS>
		<GAMMA>255</GAMMA>
		<FULLSCREEN_MODE>windowed</FULLSCREEN_MODE>
		<REFLECTION>true</REFLECTION>
		<LIGHTMAP>false</LIGHTMAP>
		<DYNAMICLIGHT>false</DYNAMICLIGHT>
		<SHADER>true</SHADER>
		<CHARACTORTEXTURELEVEL>0</CHARACTORTEXTURELEVEL>
		<MAPTEXTURELEVEL>0</MAPTEXTURELEVEL>
		<EFFECTLEVEL>0</EFFECTLEVEL>
		<TEXTUREFORMAT>1</TEXTUREFORMAT>
		<NHARDWARETNL>false</NHARDWARETNL>
		<VISUALFPSLIMIT>0</VISUALFPSLIMIT>
		<LOGICALFPSLIMIT>250</LOGICALFPSLIMIT>
		<CAMFIX>false</CAMFIX>
		<INTERFACEFIX>false</INTERFACEFIX>
	</VIDEO>
	<AUDIO>
		<BGM_MUTE>false</BGM_MUTE>
		<BGM_VOLUME>0.300000</BGM_VOLUME>
		<EFFECT_VOLUME>0.300000</EFFECT_VOLUME>
		<SOUND_3D>true</SOUND_3D>
		<A8BITSOUND>false</A8BITSOUND>
		<INVERSESOUND>false</INVERSESOUND>
		<HWMIXING>false</HWMIXING>
		<HITSOUND>true</HITSOUND>
		<NARRATIONSOUND>false</NARRATIONSOUND>
	</AUDIO>
	<MOUSE>
		<SENSITIVITY>1.000000</SENSITIVITY>
		<INVERT>false</INVERT>
	</MOUSE>
	<JOYSTICK>
		<SENSITIVITY>1.000000</SENSITIVITY>
	</JOYSTICK>
	<KEYBOARD>
		<FORWARD alt="-1">17</FORWARD>
		<BACK alt="-1">31</BACK>
		<LEFT alt="-1">30</LEFT>
		<RIGHT alt="-1">32</RIGHT>
		<MELEEWEAPON alt="-1">2</MELEEWEAPON>
		<PRIMARYWEAPON alt="-1">3</PRIMARYWEAPON>
		<SECONDARYWEAPON alt="-1">4</SECONDARYWEAPON>
		<ITEM1 alt="-1">5</ITEM1>
		<ITEM2 alt="-1">6</ITEM2>
		<PREVOUSWEAPON alt="-1">16</PREVOUSWEAPON>
		<NEXTWEAPON alt="-1">18</NEXTWEAPON>
		<RELOAD alt="-1">19</RELOAD>
		<JUMP alt="-1">57</JUMP>
		<SCORE alt="-1">15</SCORE>
		<MENU alt="-1">1</MENU>
		<TAUNT alt="-1">41</TAUNT>
		<BOW alt="-1">7</BOW>
		<WAVE alt="-1">8</WAVE>
		<LAUGH alt="-1">9</LAUGH>
		<CRY alt="-1">10</CRY>
		<DANCE alt="-1">11</DANCE>
		<SCREENSHOT alt="-1">88</SCREENSHOT>
		<RECORD alt="-1">87</RECORD>
		<DEFENCE alt="-1">42</DEFENCE>
		<TOGGLECHAT alt="-1">47</TOGGLECHAT>
		<USEWEAPON alt="258">29</USEWEAPON>
		<USEWEAPON2 alt="-1">259</USEWEAPON2>
		<SHOWFULLCHAT alt="-1">44</SHOWFULLCHAT>
		<VOICECHAT alt="-1">37</VOICECHAT>
		<CHAT alt="-1">28</CHAT>
		<TEAMCHAT alt="-1">40</TEAMCHAT>
	</KEYBOARD>
	<MACRO>
		<F1>/h</F1>
		<F2>/Provoke</F2>
		<F3>/hi</F3>
		<F4>/wave</F4>
		<F5>Hello!</F5>
		<F6>Let&apos;s have a good time and play fair.</F6>
		<F7>Good Shot !!</F7>
		<F8>Thank you very much.</F8>
	</MACRO>
	<ETC>
		<NETWORKPORT1>7700</NETWORKPORT1>
		<NETWORKPORT2>7800</NETWORKPORT2>
		<BOOST>false</BOOST>
		<REJECT_NORMALCHAT>false</REJECT_NORMALCHAT>
		<REJECT_TEAMCHAT>false</REJECT_TEAMCHAT>
		<REJECT_CLANCHAT>false</REJECT_CLANCHAT>
		<REJECT_WHISPER>false</REJECT_WHISPER>
		<REJECT_INVITE>false</REJECT_INVITE>
		<CROSSHAIR>0</CROSSHAIR>
		<DRAWTRAILS>true</DRAWTRAILS>
		<SLASHEFFECT>true</SLASHEFFECT>
		<UNLOCKEDDIR>false</UNLOCKEDDIR>
		<SHOWDEBUGINFO>false</SHOWDEBUGINFO>
		<FOV>79.999802</FOV>
		<COLORINVERT>false</COLORINVERT>
		<MONOCHROME>false</MONOCHROME>
		<ASYNCSCREENSHOTS>true</ASYNCSCREENSHOTS>
		<SCREENSHOTFORMAT>png</SCREENSHOTFORMAT>
		<FASTWEAPONCYCLE>false</FASTWEAPONCYCLE>
	</ETC>
	<CHAT>
		<FONT>Arial</FONT>
		<BOLDFONT>true</BOLDFONT>
		<FONTSIZE>16</FONTSIZE>
		<BACKGROUNDCOLOR>80000000</BACKGROUNDCOLOR>
	</CHAT>
</XML>

